section.banner-wrap.clearfix
	#bannerwrap.banner.rev_slider_wrapper.fullscreen-container
		#banner001.rev_slider.fullscreenbanner(data-version="5.1.1RC")
			ul
				//- SLIDE
				li(data-transition="slidingoverlayhorizontal" data-title="The Pegasuite" data-param1="01." data-thumb="img/banner/1.jpg")
					//- MAIN IMAGE
					img(src="img/banner/1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina)
					//- LAYER
					.tp-caption.tp-shape.tp-shapewrapper.banner-overlay(data-x="center" data-hoffset="0" data-y="middle" data-voffset="0" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="0" data-basealign="slide" data-responsive_offset="off" data-responsive="off" style="z-index:5")
					//- LAYER
					.tp-caption.tp-resizeme.skrollable.skrollable-after(data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['0','0','0','0']", data-width="['500','450','500','500']", data-height='none', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power2.easeInOut;', data-transform_out='auto:auto;s:1000;', data-mask_in='x:0px;y:[100%];', data-start='500', data-splitin='none', data-splitout='none', data-responsive_offset='on', style='z-index:10')
						.banner-caption 
							.project-name The Pegasuite II
							.project-number 01.
							.project-des Kiến trúc hiện đại, trẻ trung
							a.link(href="#!") Xem chi tiết
				//- SLIDE
				li(data-transition="slidingoverlayhorizontal" data-title="Little Village" data-param1="02." data-thumb="img/banner/2.jpg")
					//- MAIN IMAGE
					img(src="img/banner/2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina)
					//- LAYER
					.tp-caption.tp-shape.tp-shapewrapper.banner-overlay(data-x="center" data-hoffset="0" data-y="middle" data-voffset="0" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="0" data-basealign="slide" data-responsive_offset="off" data-responsive="off" style="z-index:5")
					//- LAYER
					.tp-caption.tp-resizeme.skrollable.skrollable-after(data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['0','0','0','0']", data-width="['500','450','500','500']", data-height='none', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power2.easeInOut;', data-transform_out='auto:auto;s:1000;', data-mask_in='x:0px;y:[100%];', data-start='500', data-splitin='none', data-splitout='none', data-responsive_offset='on', style='z-index:10')
						.banner-caption
							.project-name Little Village
							.project-number 02.
							.project-des Kiến trúc hiện đại, trẻ trung
							a.link(href="#!") Xem chi tiết
				//- SLIDE
				li(data-transition="slidingoverlayhorizontal" data-title="The Pegasuite" data-param1="03." data-thumb="img/banner/3.jpg")
					//- MAIN IMAGE
					img(src="img/banner/3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina)
					//- LAYER
					.tp-caption.tp-shape.tp-shapewrapper.banner-overlay(data-x="center" data-hoffset="0" data-y="middle" data-voffset="0" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="0" data-basealign="slide" data-responsive_offset="off" data-responsive="off" style="z-index:5")
					//- LAYER
					.tp-caption.tp-resizeme.skrollable.skrollable-after(data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['0','0','0','0']", data-width="['500','450','500','500']", data-height='none', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power2.easeInOut;', data-transform_out='auto:auto;s:1000;', data-mask_in='x:0px;y:[100%];', data-start='500', data-splitin='none', data-splitout='none', data-responsive_offset='on', style='z-index:10')
						.banner-caption
							.project-name The Pegasuite
							.project-number 03.
							.project-des Kiến trúc hiện đại, trẻ trung
							a.link(href="#!") Xem chi tiết