header
	.container.fullwidth
		.language
			a.active(href="#") VI
			a(href="#") EN
		.sitelogo
			a(href="#")
				img(src="img/logo.png", alt="")
		.overlay
		.colright.clearfix
			.search-toggle
			.btn-showmenu
				span
		.menu
			.menu-content
				.menuwrap
					ul.menulink
						li.active
							a(href='#!') Trang chủ
						li
							a(href='#!') Giới thiệu
						li
							a(href='#!') Dự án
						li
							a(href='#!') Tin tức
						li
							a(href='#!') Phát triển nhân lực
						li
							a(href='#!') Tuyển dụng
						li
							a(href='#!') Liên hệ
				.menu-footer
					.contact-info
						.company CÔNG TY CỔ PHẦN ĐẦU TƯ PHƯƠNG VIỆT
						ul
							li <i class="fa fa-map-marker" aria-hidden="true"></i> 10C Sư Thiện Chiếu, Phường 7, Quận 3, TP. HCM
							li <i class="fa fa-phone" aria-hidden="true"></i> 
								a(href="tel:(028).38.8888.00") (028).38.8888.00 
								|- 
								a(href="tel:0903 6666 88") 0903 6666 88
							li <i class="fa fa-phone" aria-hidden="true"></i> 
								a(href="tel:(028).38.8888.11") (028).38.8888.11 
								|- 
								a(href="tel:38.8888.22") 38.8888.22
							li <i class="fa fa-envelope" aria-hidden="true"></i> 
								a(href="mailto:dvkh@pvinvest.vn") dvkh@pvinvest.vn
							li <i class="fa fa-globe" aria-hidden="true"></i> 
								a(href="http://pvinvest.vn") pvinvest.vn
					.copyright © Copyright 2017 PVInvest. Allright reserved.